.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #EAEAEA;
}

.logo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo li{
    margin-right: 20px; 
    padding: 8px 20px;
}

.admin-panel-link{
    text-decoration: none;
    color: red;
    font-size: 1.4em;
}

.logo {
    margin-top: .3%;
    margin-left: 10%;
    display: flex;
}

.menu {
    flex-grow: 1;   
}

.menu ul {
    display: flex;
    flex-flow: row-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-right: 20px; 
    padding: 8px 20px;
}

.menu li:first-child {
    margin-right: 15%;
}


.menu-item {  
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}

.logout:hover {
    color: rgb(94, 94, 94);
    cursor: pointer;
}