.flex-wrapper {
    display: flex;
    justify-content: space-around;
}

.red-text {
    color:red;
}

.flex-item {
    text-align: center;
    flex: 50%;
}

.logout {
    background-color: lightblue;
}

.logout:hover {
    background-color: rgb(194, 224, 234);
    cursor: pointer;
}