.store-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #EAEAEA;
}
  
.logo {
    margin-top: .3%;
    margin-left: 15%;
}

.menu {
    flex-grow: 1;   
}

.menu ul {
    display: flex;
    flex-flow: row-reverse;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    margin-right: 20px; 
    font-size: 1.4em;
    padding: 8px 20px;
    text-decoration: none;
    color: black;
}

.menu li:first-child {
    margin-right: 15%;
}

/* .menu a {
} */