.flex-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 20px 30px;
}

.column {
    flex: 50%;
    border: 1px solid black;
    padding-left: 10px;
}

.column:first-child {
    margin-right: 20px;
}

.center-text {
    text-align: center;
}

.form-wrapper {
    padding: 0 30px;
}

.cart-wrapper {
    border: 1px solid orange;
}