.product-wrapper {
    display: flex;
    padding: 20px 20px;
}

.product-image {
    text-align: center;
    flex: 70%;
    border: 1px solid green;
    height: 400px;
}

.product-info {
    flex: 30%;
    border: 1px dotted green;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buy-button {
    background-color: #00e29d;
    border-radius: 15%;
    color: black;
    width: 30%;
}

input[type=number] {
    width: 100px;
}
