.container {
    margin: 0 auto;
    max-width: 886px;
    display: flex;
    flex-direction: column;
}
  
.banner {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.marketplace .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.marketplace .title ul {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.marketplace .title li {
    margin-right: 25px; 
}

.marketplace .title .category {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.products-list-wrapper{
    padding: 0 100px;
}

.products-list {
    display: flex;
    border: 2px dotted yellow;
}

.store-item {
    text-align: center;
    padding: 40px 0;
    border: 1px solid green;
    flex: 30%;
}

.link-extended {
    text-decoration: none;
}

.link-extended:hover {
    color: blue;
}

.cart-item {
    margin: 10px;
    padding: 5px;
    border: 1px solid greenyellow;
}

.total-price {
    margin: 15px;
}

.cart-wrapper {
    border: 1px solid orange;
    margin: 10px 0;
}

.products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 15px;
}

.products-list:last-child {
    margin-bottom: 0;
}

.products-item {
  max-width: 265px;
  padding: 10px;
  border: 1px solid black;
}

.products-item:last-child{
    margin-right: 0;
}

.item-img {
    width: 200px;
    height: 200px;
}

.item-info {
    color: black;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
